/* Simple Blink Text */
.blink-link {
  animation: simpleBlink 1s infinite;
  text-decoration: none;
  font-weight: bold;
}

@keyframes simpleBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}


.blink-text-box {
  display: inline-block;
  background: #ff3b30;
  padding: 6px 12px;
  border-radius: 5px;
  text-decoration: none;
}

.blink-text-box span {
  color: #fff !important;
  font-weight: bold;
  animation: textBlink 1s infinite;
}

@keyframes textBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

